//
// Notifications
// --------------------------------------------------

.notification {
  position: fixed;
  bottom: 50px;
  z-index: 11;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .3);
  color: white;
  p {
    text-align: center;
    margin: 10px;
    height: 20px;
  }
  -webkit-transition: -webkit-transform .25s;
     -moz-transition: -moz-transform .25s;
          transition: transform .25s;
  @include transform(translate3d(0, 100px, 0));

  &.active {
    @include transform(translate3d(0, 0, 0));
  }
}
